<nav class="navBar">
    <div class="logo"> </div>
    <a href="#" class="Accueil">Accueil</a>
    <ul class="ulNavBar">
        <li class="ulli">
        <a href="#">Questionnaires 
            <input type="checkbox" />
            <span></span>
            <span></span>
        </a>
       
        </li>

        <li class="ulli"><a href="#">Description Niveaux</a></li>
    </ul>
</nav>
<ul id="menu1">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <ul id="menu2">
    
        <a href="#Presentation">
            <li>Anglais</li>
        </a>
        <a href="#Projet">
            <li>Espagnol</li>
        </a>
    
    
    </ul>
</ul>