<nav class="navBar" >
    <div class="logo"> </div>
    <a class="Accueil" routerLink="/acceuil">Accueil</a>
    <ul class="ulNavBar">
        <li class="ulli"><div id="menuToggle">
            <input type="checkbox" />
            <a class="ullia">Questionnaires</a>
            <span id="span1"></span>
            <span id="span2"></span>
            <ul id="menu">
                <div class="stylemenu"></div>
                <a  routerLink="/questionnaire">
                    <li>Anglais</li>
                </a>
                <a  routerLink="/questionnaireesp">
                    <li>Espagnol </li>
                </a>
            </ul>
        </div></li>
        <li class="ullia"><a href="/descniv">Description Niveaux</a></li>
    </ul>
    
</nav>
