.logo{
    position: absolute;
    background-image: url(../../img/logoAna.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: white;
    border-radius: 100%;
    left: 20px;
    top:20px;
    height: 120px;
    width: 120px;
}
.Accueil{
    color:#DEECF3;
    font-size: 20px;
    float: left;
    margin-left: 170px;
    text-decoration: none;
    line-height: 95px;
}

.ulNavBar{
    display: flex;
    list-style: none;
    margin-right: 25px;
    float: right;
}
.ulli{
   height: 50px;
   border-radius: 15px;
   
}
.ulNavBar a{
    text-decoration: none;
    margin-right: 30px;
    margin-left: 15px;
    color:#DEECF3;
    font-size: 20px;
    line-height: 60px;
}
.ulli:hover{
    border:solid #DEECF3;
    background-color: #2868c9;
    cursor:pointer;
}
.navBar{
    background-color:#1E4F96;
    height: 80px;
}

#menu1{
    position: relative;
    display: flex;
    justify-content: center;
    width:500px ;
    background: red;
    padding: 20px;
    transition: 0.5s;
    border-radius: 5px;
    overflow: hidden;


}
.navigation input:checked ~ #menu2{
      background-color: blue;
      width: 500px;
   

}
