<form [formGroup]="form" class="Mise-en-form" name="myform">
    <input class="name" type="text" name="nom" [(ngModel)]="toto" formControlName="nom" placeholder="name..">
    <p>{{toto}} voici votre score :</p>
    <h2 mat-dialog-title>Grammaire : {{data.acc_good_answer}} bonne réponse / {{data.QuestionsGrammaire}} questions</h2>
    <h2 mat-dialog-title>Vocab : {{data.acc_good_answer2}} bonne réponse / {{data.QuestionsVocab}} questions</h2>
    
</form>
<div mat-dialog-actions>
        <button mat-button (click)="onNoClick()" id="bouttonanglais">D'accord</button>
    </div>