
#questionnaires {
  border-radius: 25px;
  color: #1e4f96;
  text-align: center;
}

.Mise-en-form{
  display: grid;
  grid-template-columns: 80%;
  justify-content: center;
}
.Placement-buttun{
display:grid;
grid-template-columns: 25% 25% 25% 25%;
justify-content: space-around;
}
.grid{
  background-color: rgb(249, 250, 251);
  border-radius: 15px;
  margin-bottom: 10px;
  text-align: center;
}
.title h1 {
  font-size: 30px;
}
#bouttonanglais {
  display: inline-block;
  background-color: #1e4f96;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-left: 40%;
}

#bouttonanglais span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
#bouttonanglais span:after {
  content: "\00bb";
  position: absolute;
  z-index: 1;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
#bouttonanglais:hover {
  background-color: #1e4f96;
}
#bouttonanglais:hover span {
  padding-right: 25px;
}
#bouttonanglais:hover span:after {
  opacity: 1;
  right: 0;
}
.title {
  position: flex;
  margin-top: 5%;
  text-align: center;
  color: #1e4f96;
  font-weight: bold;
  font-size: 25px;
}

.centerbuttun {
  display: flex;
  justify-content:  center;
  list-style: none;
}
.centerbuttun li {
  margin-right: 15%;

}
#buttunnext {
  display: inline-block;
  background-color: #1e4f96;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;

}

#buttunnext span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
#buttunnext span:after {
  content: "\00bb";
  position: absolute;
  z-index: 1;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
#buttunnext:hover {
  background-color: #1e4f96;
}
#buttunnext:hover span {
  padding-right: 25px;
}
#buttunnext:hover span:after {
  opacity: 1;
  right: 0;
}
.radiobuttun {
  color: #1e4f96;
  display: inline-block;
  width: 80%;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 20px;

}
.check-with-label{ 
  display: none;
}
.check-with-label:checked + .radiobuttun {
background-color: #1e4f96;
color:#eeeeee;

}

.radiobuttun2 {
  color: #1e4f96;
  display: inline-block;
  width: 80%;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 20px;

}
.check-with-label2{ 
    display: none;

}
.check-with-label2:checked + .radiobuttun2 {
background-color: #1e4f96;
color:#eeeeee;

}


#red {
  color:rgb(241, 105, 71);
}
.show{
  display: flex;
  justify-content: center;
  text-align: center;
}

#green{
 color:green;
}

.good-answer-text-decoration{
 color:green;
}

.wrong-answer-text-decoration{
 color:rgb(241, 105, 71);
}
#navigationQuestions{
  display: inline-block;
  position: fixed;
  top:88%;
  right: 0;
  text-align: center;
  transform: translate(0%, -50%); 
  right: 0; 
  width:150px;
}
#navigationQuestions button
{
  width: 100px;
  opacity: 80%;
  background-color: #1e4f96;
  color:white;
  border: none;
  margin-top: 5px;
}
