<div class="imgaccueil"></div>
<h1 id="title1">Ana Maseli</h1>
  <ul class="placement">
    <li><div class="imglogo1"></div><p class="rebuild1">anamasli@msn.com</p></li>
    <li><div class="imglogo2"></div><p class="rebuild2">06 70 32 65 71</p></li>
    <li><div class="imglogo3"></div><p class="rebuild3">
      2, rue Fernand Bailly, 77120 Coulommiers
      SIRET 81278981000012 - NDA 11770653677</p></li>
    <li><div class="imglogo4"></div><p class="rebuild4">Ana Maseli - Linkdin</p></li>
  </ul>
  <div class="presentation">
  <h2 class="title2">Présentation :</h2>
  <p> Depuis 2014 : Formatrice indépendante en langues :</p>
  <ul class="presforma">
    <li>➢ Animation de formations en anglais ou espagnol en présentiel et distanciel</li>
    <li>➢ Elaboration des supports en adéquation au niveau et objectifs de l’apprenant</li>
    <li>➢ Etablir les objectifs</li>
    <li>➢ Enseigner, transmettre et communiquer la grammaire, vocabulaire et notions culturelles</li>
    <li>➢ Contrôle régulier du progrès et des connaissances</li>
    <li>➢ Détecter les difficultés et libérer les blocages</li>
    <li>➢ Exploitation de différentes ressources pédagogiques</li>
    <li>➢ Préparation aux examens TOEIC, Linguaskill, DELE, SIELE</li>
  </ul>
  </div>
  <div class="confiance">
  <h2 class="title2" id="conftitle">Ils me font confiance :</h2>
  <ul class="confformat">
    <li><div class="confiance1"></div></li>
    <li><div class="confiance2"></div></li>
    <li><div class="confiance3"></div></li>
    <li><div class="confiance4"></div></li>
    <li><div class="confiance5"></div></li>
    <li><div class="confiance6"></div></li>
  </ul>
  </div>



