<h1 id="descNiv-Title">Description des niveaux</h1>
<div class="level">
    <hr class="A1">
  
        <h2 class="A1-title">A1</h2>

    <div> 
        <p>A1 Peut comprendre des phrases isolées et des expressions fréquemment utilisées en
        relation avec des domaines de priorité immédiate (par exemple des informations
        personnelles, sur des achats, le travail, l’environnement familier). Peut communiquer
        dans une situation simple et routinière, ne comportant qu’un échange d’informations
        simple et direct, et sur des activités et des sujets familiers. Peut décrire avec des moyens
        simples une personne, un lieu, un objet, sa propre formation, son environnement.</p>
    </div>
    <hr class="A2">
        <h2 class="A2-title">A2</h2>
    <div>
        <p>A2 Peut comprendre des phrases isolées et des expressions fréquemment utilisées en
        relation avec des domaines de priorité immédiate (par exemple des informations
        personnelles, sur des achats, le travail, l’environnement familier). Peut communiquer
        dans une situation simple et routinière, ne comportant qu’un échange d’informations
        simple et direct, et sur des activités et des sujets familiers. Peut décrire avec des moyens
        simples une personne, un lieu, un objet, sa propre formation, son environnement.</p>
    </div>
    <hr class="B1"> 
    <h2 class="B1-title">B1</h2>
    <div>
        <p>B1 Peut comprendre les points essentiels quand un langage clair et standard est utilisé et s’il
        s’agit de choses familières dans le travail, à l’école, dans les loisirs, etc. Peut se
        débrouiller dans la plupart des situations linguistiques rencontrées en voyage à l’étranger.
        Peut donner son opinion de façon simple et cohérente sur des sujets familiers et dans ses
        domaines d’intérêt. Peut raconter un événement ou une expérience, décrire un rêve, un
        espoir ou un but et donner de brèves raisons ou explications pour un plan ou une idée.</p>
    </div> 
    <hr class="B2">
    <h2 class="B2-title">B2</h2>
    <div>
        <p>B2 Peut comprendre le contenu essentiel de sujets concrets ou abstraits dans un texte
        complexe; comprend une discussion spécialisée dans son domaine professionnel. Peut
        communiquer avec un degré de spontanéité et d’aisance telle qu’une conversation avec
        des locuteurs natifs ne comporte de tension ni pour les uns, ni pour les autres. Peut
        s’exprimer de façon claire et détaillée sur une grande gamme de sujets, émettre un avis
        sur un problème, et donner les avantages et les inconvénients de différentes possibilités.</p>
    </div>
    <hr class="C1">
    <h2 class="C1-title">C1</h2>
    <div>
        <p>C1 Peut comprendre une grande gamme de textes longs et exigeants, ainsi que saisir des
        significations implicites. Peut s’exprimer spontanément et couramment presque sans
        effort, sans trop apparemment devoir chercher ses mots. Peut utiliser la langue de façon
        efficace et souple dans sa vie sociale et professionnelle ou dans sa formation et ses
        études. Peut donner son opinion sur des sujets complexes de façon claire et bien
        structurée, décrire ou rapporter quelque chose en détail, et relier le fond à la forme dans
        ses déclarations.</p> 
    </div >
    <hr class="C2">
    <h2 class="C2-title">C2</h2>
    <div>
        <p>C2 Peut comprendre sans effort pratiquement tout ce qu’il / elle lit ou entend. Peut restituer
        faits et arguments de diverses sources écrites et orales en les résumant de façon
        cohérente. Peut s’exprimer spontanément, très couramment et de façon différenciée et
        peut rendre distinctes de fines nuances de sens en rapport avec des sujets complexes.</p>
    </div>

</div>
    <div class="arrow-down"></div>
<div class="decouvrir">
    <h2>Découvrir son niveau</h2>
    <hr class="A1">
    <h3>Anglais</h3>
    <button id="bouttonanglais" >
        <a routerLink="/questionnaire"><span>Commencer !</span></a>
    </button>
    <hr class="A1">
    <h3>Espagnol</h3>
    <button id="bouttonesp" >
        <a routerLink="/questionnaireesp"><span>Commencer !</span></a>
    </button>
</div>