#descNiv-Title{

color :#1e4f96;
margin-top: 100px;
font-size: 30px;
text-align: center;
}
.level{
  width: 800px;
  height: 1000px;
  color :#1e4f96;
  margin: auto;
  margin-top: 70px;
  border-left: solid 5px #1e4f96;
  padding-top: 1px;
}
.A1-title{
  position: flex;
  width: 150px;
  height: 40px;
  margin-top: -35px;
  margin-left: 170px;
  border-bottom: solid 5px #1e4f96;
  opacity: 60%;
}
.B1-title{
  position: flex;
  width: 150px;
  height: 40px;
  margin-top: -35px;
  margin-left: 370px;
  border-bottom: solid 5px #1e4f96;
  opacity: 60%;
}
.C1-title{
  position: flex;
  width: 150px;
  height: 40px;
  margin-top: -35px;
  margin-left: 570px;
  border-bottom: solid 5px #1e4f96;
  opacity: 60%;
}
.A2-title{
  position: flex;
  width: 150px;
  height: 40px;
  margin-top: -35px;
  margin-left: 270px;
  border-bottom: solid 5px #1e4f96;
  opacity: 60%;
}
.B2-title{
  position: flex;
  width: 150px;
  height: 40px;
  margin-top: -35px;
  margin-left: 470px;
  border-bottom: solid 5px #1e4f96;
  opacity: 60%;
}
.C2-title{
  position: flex;
  width: 150px;
  height: 40px;
  margin-top: -35px;
  margin-left: 670px;
  border-bottom: solid 5px #1e4f96;
  opacity: 60%;
}
.level hr{
  background-color: #1e4f96;
  opacity: 100%;
  height: 5px;
}

.A1{
width: 150px;
}
.A2{
width: 250px;
}
.B1{
width: 350px;
}
.B2{
width: 450px;
}
.C1{
width: 550px;
}
.C2{
width: 650px;
}

.level > div{
  
  margin-left: 5%;
}
.decouvrir {
  width: 500px;
  height: 350px;
  margin: auto;
  margin-top: 100px;
  background-color: #a5bbdc;
  border: solid 3px #1e4f96;
  border-radius: 15px;
}
.decouvrir a {
  color: #deecf3;
}
.decouvrir h2 {
  margin-left: 50px;
  font-size: 30px;
  color: #1e4f96;
}
.decouvrir h3 {
  margin-left: 50px;
  font-size: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #1e4f96;
}
.decouvrir hr {
  width: 70%;
  margin-left: 50px;
  background-color: #1e4f96;
  border: solid 1px #1e4f96;
}
#bouttonanglais {
  align-items: center;
  display: inline-block;
  background-color: #1e4f96;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  position: absolute;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-top: -100px;
  margin-left: 200px;
}

#bouttonanglais span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
#bouttonanglais span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
#bouttonanglais:hover {
  background-color: #1e4f96;
}
#bouttonanglais:hover span {
  padding-right: 25px;
}
#bouttonanglais:hover span:after {
  opacity: 1;
  right: 0;
}

#bouttonesp {
  align-items: center;
  display: inline-block;
  background-color: #1e4f96;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  position: absolute;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-top: -100px;
  margin-left: 200px;
}

#bouttonesp span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
#bouttonesp span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
#bouttonesp:hover {
  background-color: #1e4f96;
}
#bouttonesp:hover span {
  padding-right: 25px;
}
#bouttonesp:hover span:after {
  opacity: 1;
  right: 0;
}

@media screen and (max-width: 600px) {
  .level{
   border: none;
  }
  .level hr{
    display: none;
  }
  .A1-title{
    position: flex;
    width: 150px;
    height: 40px;
    margin-top: 0px;
    margin-left: 50px;
    border-bottom: solid 5px #1e4f96;
    opacity: 60%;
  }
  .B1-title{
    position: flex;
    width: 150px;
    height: 40px;
    margin-top: 0px;
    margin-left: 50px;
    border-bottom: solid 5px #1e4f96;
    opacity: 60%;
  }
  .C1-title{
    position: flex;
    width: 150px;
    height: 40px;
    margin-top: 0px;
    margin-left: 50px;
    border-bottom: solid 5px #1e4f96;
    opacity: 60%;
  }
  .A2-title{
    position: flex;
    width: 150px;
    height: 40px;
    margin-top: 0px;
    margin-left: 50px;
    border-bottom: solid 5px #1e4f96;
    opacity: 60%;
  }
  .B2-title{
    position: flex;
    width: 150px;
    height: 40px;
    margin-top: 0px;
    margin-left: 50px;
    border-bottom: solid 5px #1e4f96;
    opacity: 60%;
  }
  .C2-title{
    position: flex;
    width: 150px;
    height: 40px;
    margin-top: 0px;
    margin-left: 50px;
    border-bottom: solid 5px #1e4f96;
    opacity: 60%;
  }
  .level hr{
    background-color: #1e4f96;
    opacity: 100%;
    height: 5px;
  }
  .level p{
    width: 400px;
  }
  .decouvrir {

    width: 100%;
    margin: 0px;
    margin-top: 500px;
   
  }
}