#questionnaires {
  border-radius: 25px;
  color: #1e4f96;
  text-align: center;
}

.test{
  display: grid;
  grid-template-columns: 80%;
  justify-content: center;
}
.test2{
display:grid;
grid-template-columns: 25% 25% 25% 25%;
justify-content: space-around;
}


.grid{
  background-color: rgb(249, 250, 251);
  border-radius: 15px;
  margin-bottom: 10px;
  text-align: center;
}



.title h1 {
  font-size: 30px;
}
#bouttonanglais {
  display: inline-block;
  background-color: #1e4f96;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-left: 40%;
}

#bouttonanglais span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
#bouttonanglais span:after {
  content: "\00bb";
  position: absolute;
  z-index: 1;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
#bouttonanglais:hover {
  background-color: #1e4f96;
}
#bouttonanglais:hover span {
  padding-right: 25px;
}
#bouttonanglais:hover span:after {
  opacity: 1;
  right: 0;
}
.title {
  position: flex;
  margin-top: 5%;
  text-align: center;
  color: #1e4f96;
  font-weight: bold;
  font-size: 25px;
}


.radiobuttun {
  color: #1e4f96;
  display: inline-block;
  width: 80%;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 20px;

}
.check-with-label{ 
    display: none;

}
.check-with-label:checked + .radiobuttun {
background-color: #1e4f96;
color:#eeeeee;

}

.title {
  position: flex;
  margin-top: 5%;
  text-align: center;
  color: #1e4f96;

  font-size: 25px;
}
#red {
  color:rgb(241, 105, 71);
}
.show{
  display: flex;
  justify-content: center;
  text-align: center;
}

#green{
 color:green;}