
<div class="title">
    <h1>Questionnaire</h1>
    <h1>Langue - Espagnol</h1>
</div>

<div id="questionnaires">
    <h1></h1>
    <form [formGroup]="form" (ngSubmit)="submit()" class="test">
        <div *ngFor="let question of questions; let i = index">
            <div>
               
                <h2> {{question.nom}} </h2>
                <h3>{{question.grammar}}</h3>
                
                    <div *ngFor="let reponse of question.reponses; let y = index" class="radio-group-{{i +1}}">
                        <label >
                            <input type="radio" name="Q_{{i +1}}" value="{{y}}"formControlName="Q_{{i +1}}" >
                            {{reponse}}
                        </label>
                </div>
                <div *ngIf="showAnswer">
                    <p *ngIf="question.bonneReponses == question.reponsesUser" id="green">Bonne réponse !</p>
                </div>
                <div *ngIf="showAnswer">
                    <p *ngIf="question.bonneReponses != question.reponsesUser" id="red">Perdu ! la bonne réponse était la réponse {{question.reponses[question.bonneReponses]}} </p>
                </div>
                <br>
                <hr class="bar">
                <br>
            </div>
            
        </div>
        <button id="bouttonanglais" (click)="submit();submitButton.disabled = true" #submitButton>
            <span>Envoyer !</span>
        </button>
    </form> 
</div>