
<div class="title">
    <h1>Questionnaire</h1>
    <h1>Langue - Anglais</h1>
</div>
<div id="questionnaires">
    <span>
        <h1>3 - Audio</h1>
    </span>
    <h2>Choose the best word or phrase to fill each gap.</h2>
    <div *ngFor="let audio of audio; let i = index" class="list-group-item">
        <form>
            <h2> {{audio.numero}} </h2>
            <hr class="bar">
            <h3>{{audio.nom}}</h3>
            <audio
                controls
                src = "{{fileToPlay}}" type="audio/mpeg">
            </audio>

            <hr class="bar">
        </form>
    </div>
    <div *ngFor="let video of video; let i = index" class="list-group-item">
        <form>
            <h2> {{video.numero}} </h2>
            <hr class="bar">
            <h3>{{video.nom}}</h3>
            <p><iframe id="inlineFrameExample"
                title="Inline Frame Example"
                width="300"
                height="200"
                src="https://www.openstreetmap.org/export/embed.html?bbox=-0.004017949104309083%2C51.47612752641776%2C0.00030577182769775396%2C51.478569861898606&layer=mapnik">>
            </iframe></p>

            <hr class="bar">
        </form>
    </div>


       <button id="bouttonanglais" >
            <span>Submit !</span>
        </button>

</div>