
#questionnaires {
  border-radius: 25px;
  color: #1e4f96;
  text-align: center;
}

.Mise-en-form{
  display: grid;
  grid-template-columns: 80%;
  justify-content: center;
}

.grid{
  background-color: rgb(249, 250, 251);
  border-radius: 15px;
  margin-bottom: 10px;
  text-align: center;
}
#bouttonanglais {
  display: inline-block;
  background-color: #1e4f96;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: auto;
  
}

#bouttonanglais span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
#bouttonanglais span:after {
  content: "\00bb";
  position: absolute;
  z-index: 1;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
#bouttonanglais:hover {
  background-color: #1e4f96;
}
#bouttonanglais:hover span {
  padding-right: 25px;
}
#bouttonanglais:hover span:after {
  opacity: 1;
  right: 0;
}

.Mise-en-form textarea{
  width: 60%;
  height: 100px;
  color:#1e4f96;
  border: solid 1px black;
  margin-bottom: 20px;
}
.title {
  position: flex;
  margin-top: 5%;
  text-align: center;
  color: #1e4f96;
  font-weight: bold;
  font-size: 25px;
}
.title h1 {
  font-size: 30px;
}