
<div id="questionnaires">   
    <div class="title">
        <h1>Questionnaire</h1>
        <h1>Langue - Anglais</h1>
    </div>
    <form class="test">
    <span>
        <h1>Audio</h1>
    </span>
    <h2>Choose the best word or phrase to fill each gap.</h2>
  
        <div *ngFor="let audio of audio; let i = index" class="list-group-item" class ="grid">
                <h2> {{audio.numero}} </h2>
            <figure>
                <audio controls src="{{audio.source}}">
                    Your browser does not support the
                    <code>audio</code> element.
                </audio>
            </figure>   
       
    </div>
       <button id="bouttonanglais" >
            <span>Submit !</span>
        </button>
    </form>
</div>