
    <div class="title" #questionnaires>
        <h1>Questionnaire</h1>
        <h1>Langue - Anglais</h1>
    </div>
    <div id="questionnaires">   
    <form [formGroup]="form" (ngSubmit)="submit()" class="Mise-en-form" name="myform">
    <span>
        <h1>Audio</h1>
    </span>
    <h2>Choose the best word or phrase to fill each gap.</h2>
  
        <div *ngFor="let audio of audio; let i = index" class="list-group-item" class ="grid">
                <h2> {{audio.numero}} </h2>
            <figure>
                <audio controls src="{{audio.source}}">
                    Your browser does not support the
                    <code>audio</code> element.
                </audio>
            </figure>   
            <textarea name="Q_{{i +1}}" value="{{i}}" formControlName="Q_{{i +1}}"></textarea>
         
    </div></form>
        <button id="bouttonanglais" type="submit" (click)="submit();" #submitButton>
            <span>Envoyer !</span>
        </button>
        <div *ngFor="let audio of audio; let i = index" class="list-group-item" class="grid">
<p>{{audio.reponseUser}}</p>
            </div>  
      
    
</div>