.title h1 {
  font-size: 30px;
}
#questionnaires {
  border-radius: 25px;
  color: #1e4f96;
  text-align: center;
}

.test{
  display: grid;
  grid-template-columns: 80%;
  justify-content: center;
}

.grid{
  background-color: rgb(249, 250, 251);
  border-radius: 15px;
  margin-bottom: 10px;
  text-align: center;
}
#bouttonanglais {
  display: inline-block;
  background-color: #1e4f96;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-left: 40%;
}
.centerbuttun {
  display: flex;
  margin-left: 20%;
  list-style: none;
}
.centerbuttun li {
  margin-right: 25%;
  align-items: center;
  text-align: center;
}
#buttunnext {
  display: inline-block;
  background-color: #1e4f96;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-left: 40%;
}

#buttunnext span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
#buttunnext span:after {
  content: "\00bb";
  position: absolute;
  z-index: 1;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
#buttunnext:hover {
  background-color: #1e4f96;
}
#buttunnext:hover span {
  padding-right: 25px;
}
#buttunnext:hover span:after {
  opacity: 1;
  right: 0;
}
