/* You can add global styles to this file, and also import other style files */
body{
    width: 100%;
    margin: 0px;
    background-color: rgb(235, 236, 250);
    overflow-x: none;
}
#title-img
{
    border-radius: 50%;
}